/***********
 * Imports *
 ***********/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

/*****************
 * Color Schemes *
 *****************/
:root {
  --name-background-color: #222222;

  --main-color1: #ffffff;
  --main-color2: #f3f3f3;
  --accent-color1: #e5e5e5;

  --font-normal-color: #777777;

  --a-normal-color: #52b6ec;
  --a-hover-color: #80c9f1;

  --nav-normal-color: #8c8c8c;
  --nav-hover-color: #c0a672;
  --nav-active-color: #c0a672;
  --nav-background-color: #3a2c41;

  --carousel-background-color: rgba(0,0,0,.675);
  --carousel-text-color: #ffffff;

  --project-button-normal-color: #52b6ec;
  --project-button-hover-color: #1586c3;
  --project-button-active-color: #1586c3;

  --project-item-background-color: #2c3f52;
  --project-item-button-background-color: #ed4e6e;
  --project-item-button-font-color: #ffffff;

  --contact-background-color: #222222;
  --contact-font-color: #777777;
  --contact-hover-color: #52b6ec;
  --contact-icons-color: #ffffff;
}

/***********
 * General *
 ***********/
h1, h2, h3, h4, h5, h6 {
  color: var(--font-normal-color);
  font-weight: 300;
}
a {
  color: var(--a-normal-color);
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
a:hover,
a:focus {
  color: var(--a-hover-color);
  text-decoration: none;
  outline: none;
}
.box {
  position: relative;
}
.box h2 {
  padding: 10px 30px;
  display: inline-block;
  border-radius: 4px;
  position: relative;
  margin-bottom: 30px;
  font-size: 48px;
}
.center {
  text-align: center;
  align-items: center;
}
.gap {
  margin-bottom: 50px;
}
.big-gap {
  margin-bottom: 100px;
}

/**********
 * Navbar *
 **********/
.cd-vertical-nav, .cd-vertical-nav-ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}
.cd-nav-trigger {
  display: block;
  position: fixed;
  z-index: 2;
  bottom: 30px;
  right: 5%;
  height: 44px;
  width: 44px;
  border-radius: 0.25em;
  background: var(--nav-background-color);
  /* reset button style */
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  outline: none;
}
.cd-nav-trigger span {
  /* central dot */
  position: absolute;
  height: 4px;
  width: 4px;
  background-color: var(--nav-background-color);
  border-radius: 50%;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.cd-nav-trigger span::before, .cd-nav-trigger span::after {
  /* bottom and top dots */
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--nav-background-color);
  border-radius: inherit;
}
.cd-nav-trigger span::before {
  top: -9px;
}
.cd-nav-trigger span::after {
  bottom: -9px;
}
@media only screen and (min-width: 800px) {
  .cd-nav-trigger {
    display: none;
  }
}
.cd-vertical-nav {
  position: fixed;
  z-index: 1;
  right: 5%;
  bottom: 30px;
  width: 90%;
  max-width: 400px;
  max-height: 90%;
  overflow-y: auto;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
  border-radius: 0.25em;
  background-color: rgba(234, 242, 227, 0.9);
}
.cd-vertical-nav a {
  display: block;
  padding: 1em;
  color: var(--nav-background-color);
  font-weight: bold;
  border-bottom: 1px solid rgba(58, 44, 65, 0.1);
}
.cd-vertical-nav a.active {
  color: var(--nav-background-color);
}
.cd-vertical-nav.open {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-overflow-scrolling: touch;
}
.cd-vertical-nav.open + .cd-nav-trigger {
  background-color: transparent;
}
.cd-vertical-nav.open + .cd-nav-trigger span {
  background-color: var(--nav-background-color);
}
.cd-vertical-nav.open + .cd-nav-trigger span::before, .cd-vertical-nav.open + .cd-nav-trigger span::after {
  /* transform dots in 'X' icon */
  height: 3px;
  width: 20px;
  border-radius: 0;
  left: -8px;
}
.cd-vertical-nav.open + .cd-nav-trigger span::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 1px;
}
.cd-vertical-nav.open + .cd-nav-trigger span::after {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  bottom: 0;
}
@media only screen and (min-width: 800px) {
  .cd-vertical-nav {
    /* reset style */
    right: 0;
    top: 0;
    bottom: auto;
    height: 100vh;
    width: 90px;
    max-width: none;
    max-height: none;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    background-color: transparent;
    /* vertically align its content*/
    display: table;
  }
  .cd-vertical-nav::before {
    /* this is the navigation background */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--nav-background-color);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
  }
  .no-touch .cd-vertical-nav:hover::before, .touch .cd-vertical-nav::before {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  .cd-vertical-nav ul {
    /* vertically align <ul> inside <nav>*/
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  .cd-vertical-nav a {
    position: relative;
    padding: 3em 0 0;
    margin: 1.4em auto;
    border-bottom: none;
    font-size: 1.2rem;
    color: var(--nav-background-color);
  }
  .cd-vertical-nav a.active {
    color: var(--nav-background-color);
  }
  .cd-vertical-nav a::before, .cd-vertical-nav a::after {
    /* used to create the filled circle and the background icon */
    content: '';
    position: absolute;
    left: 50%;
    /* Force Hardware Acceleration */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
  }
  .cd-vertical-nav a::before {
    /* filled circle */
    top: 0;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: var(--nav-normal-color);
    -webkit-transform: translateX(-50%) scale(0.25);
    -moz-transform: translateX(-50%) scale(0.25);
    -ms-transform: translateX(-50%) scale(0.25);
    -o-transform: translateX(-50%) scale(0.25);
    transform: translateX(-50%) scale(0.25);
    -webkit-transition: -webkit-transform 0.4s, background-color 0.2s;
    -moz-transition: -moz-transform 0.4s, background-color 0.2s;
    transition: transform 0.4s, background-color 0.2s;
  }
  .cd-vertical-nav a::after {
    opacity: 0;
    top: 8px;
    height: 16px;
    width: 16px;
    font-family: FontAwesome;
    display: inline-block;
    -webkit-transform: translateX(-50%) scale(0);
    -moz-transform: translateX(-50%) scale(0);
    -ms-transform: translateX(-50%) scale(0);
    -o-transform: translateX(-50%) scale(0);
    transform: translateX(-50%) scale(0);
    -webkit-transition: -webkit-transform 0.4s 0s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s 0s, opacity 0.1s 0.3s;
    transition: transform 0.4s 0s, opacity 0.1s 0.3s;
  }
  /*Icons*/
  /*http://fontawesome.io/cheatsheet/*/
  .cd-vertical-nav a.top-icon::after {
    content: "\f015";
  }
  .cd-vertical-nav a.about-icon::after {
    content: "\f007";
  }
  .cd-vertical-nav a.work-icon::after {
    content: "\f1ad";
  }
  .cd-vertical-nav a.research-icon::after {
    content: "\f0c3";
  }
  .cd-vertical-nav a.education-icon::after {
    content: "\f19d";
  }
  .cd-vertical-nav a.projects-icon::after {
    content: "\f109";
  }
  .cd-vertical-nav a.awards-icon::after {
    content: "\f091";
  }
  .cd-vertical-nav a.activities-icon::after {
    content: "\f0c0";
  }
  .cd-vertical-nav a.volunteer-icon::after {
    content: "\f2b5";
  }
  .cd-vertical-nav a.contact-icon::after {
    content: "\f086";
  }
  .cd-vertical-nav a.active::before, .no-touch .cd-vertical-nav a:hover::before {
    background-color: var(--nav-active-color);
    transition-duration: 0.5s;
    -webkit-transform: translateX(-50%) scale(0.5);
    -moz-transform: translateX(-50%) scale(0.5);
    -ms-transform: translateX(-50%) scale(0.5);
    -o-transform: translateX(-50%) scale(0.5);
    transform: translateX(-50%) scale(0.5);
  }
  .cd-vertical-nav .label {
    display: block;
    /* Force Hardware Acceleration */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
  }
  .no-touch .cd-vertical-nav:hover a::before, .no-touch .cd-vertical-nav:hover a::after, .touch .cd-vertical-nav li:nth-of-type(n) a::before, .touch .cd-vertical-nav li:nth-of-type(n) a::after {
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
    /* set a rotation to fix bug on Firefox - http://gielberkers.com/how-to-fix-shaking-css-transitions-in-firefox/ */
    -moz-transform: translateX(-50%) scale(1) rotate(0.02deg);
  }
  .no-touch .cd-vertical-nav:hover a::after, .touch .cd-vertical-nav a::after {
    opacity: 1;
    -webkit-transition: -webkit-transform 0.4s, opacity 0s;
    -moz-transition: -moz-transform 0.4s, opacity 0s;
    transition: transform 0.4s, opacity 0s;
  }
  .no-touch .cd-vertical-nav:hover .label, .touch .cd-vertical-nav .label {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
.cd-scroll-down {
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 20px;
  width: 44px;
  height: 44px;
  background: url(../img/cd-arrow-bottom.svg) no-repeat center center;
}
.no-js .cd-nav-trigger {
  display: none;
}
.no-js .cd-vertical-nav {
  position: static;
  height: auto;
  width: 100%;
  max-width: none;
  background-color: var(--nav-background-color);
  border-radius: 0;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.no-js .cd-vertical-nav::before {
  display: none;
}
.no-js .cd-vertical-nav ul::after {
  clear: both;
  content: "";
  display: table;
}
.no-js .cd-vertical-nav li {
  display: inline-block;
  float: left;
}
.no-js .cd-vertical-nav a {
  padding: 0 1em;
  margin: 1.5em 1em;
  color: var(--nav-normal-color);
}
.no-js .cd-vertical-nav a.active {
  color: var(--nav-active-color);
}
.no-js .cd-vertical-nav a::after, .no-js .cd-vertical-nav a::before {
  display: none;
}
.no-js .cd-vertical-nav .label {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

/********
 * Name *
 ********/
#name {
  background-color: var(--main-color1);
  padding: 150px 0;
}
.name-animation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -40px;
}
.letters {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 162px;
}
.letter {
  position: relative;
  width: 162px;
  height: 162px;
}
.letter:not(:first-child) {
  margin-left: -42px;
}
.letter-t1 {
  margin-right: -2%;
}
.letter-n2 {
  margin-right: 5%;
}
.letter-a3 {
  margin-right: -1%;
}
.letter-s1 {
  margin-right: -4%;
}
.letter-s2 {
  margin-right: -4%;
}
.dot {
  position: absolute;
  width: 42px;
  height: 42px;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.dot-e {
  bottom: 0;
  right: 0;
}

/********************
 * Section Dividers *
 ********************/
#sectionDivider1 {
  background-color: var(--main-color2);
  display: block;
}
#sectionDivider1 #trianglePath1 {
  fill: var(--main-color1);
  stroke: var(--main-color1);
}

#sectionDivider1 #trianglePath2 {
  fill: var(--accent-color1);
  stroke: var(--accent-color1);
}
#sectionDivider2 {
  background-color: var(--main-color1);
  display: block;
}
#sectionDivider2 #trianglePath1 {
  fill: var(--main-color2);
  stroke: var(--main-color2);
}

#sectionDivider2 #trianglePath2 {
  fill: var(--accent-color1);
  stroke: var(--accent-color1);
}

/************
 * About Me *
 ************/
.carousel {
  max-height: 450px;
  margin-bottom: 15px;

}
.carousel-picture {
  text-align: center;
  align-content: center;
  align-self: center;
}
.carousel-picture img {
  border-radius: 50px;
  max-height: 450px;
  margin: 0 auto;
}
.carousel-caption {
  background-color: var(--carousel-background-color);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  height: 100px;
  padding: 25px 25px 25px 25px;
  color: var(--carousel-text-color);
  text-align: left;
}
.carousel-nav {
  width: 60%;
  margin: 0 auto;
}
.carousel-nav-pic {
  line-height: 200px;
}
.carousel-nav img {
  width: 150px;
  height: auto;
  vertical-align: middle;
  display: inline;
}

section#about {
  background: var(--main-color2);
}
section#work {
  background: var(--main-color1);
}
section#research {
  background: var(--main-color2);
}
section#education {
  background: var(--main-color1);
}

/************
 * Projects *
 ************/
section#projects {
  background: var(--main-color2);
}
.btn {
  font-weight: 300;
  border: 0;
}
.btn.btn-primary {
  background-color: var(--project-button-normal-color);
}
.btn.btn-primary:hover {
  background-color: var(--project-button-hover-color);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.btn-primary.active {
  background-color: var(--project-button-active-color);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.project-filter {
  list-style: none;
  padding: 0;
  margin: 0;
}
.project-filter {
  margin-bottom: 10px;
  text-align: center;
}
.project-filter li {
  display: inline-block;
}
.project-items {
  padding: 20px 20px 100px 20px;
  max-width: 1300px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}
.project-items li {
  display: inline-block;
  width: 32%;
  margin: 0;
  padding: 20px;
  position: relative;
}
.project-items figure {
  margin: 0;
  position: relative;
}
.project-items figure img {
  max-width: 100%;
  display: block;
  position: relative;
  z-index: 10;
  transition: transform 0.4s;
}
.project-items figcaption {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--project-item-background-color);
  height: 100%;
  width: 100%;
}
.project-items figcaption h5 {
  position: absolute;
  bottom: 12px;
  right: 0;
  left: 0;
  text-align: center;
  margin: 0 auto;
  word-spacing: 20px;
}
.project-items figcaption h5 a {
  text-align: center;
  padding: 5px 5px;
  border-radius: 2px;
  background: var(--project-item-button-background-color);
  color: var(--project-item-button-font-color);
}
.no-touch figure:hover img,
figure.cs-hover img {
  transform: translateY(-26px) scale(0.75);
}
.project-items li h3 {
  text-align: center;
}
/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

/**********
 * Awards *
 **********/
section#awards {
  background: var(--main-color1);
}

/**************
 * Activities *
 **************/
section#activities {
  background: var(--main-color2);
}

/****************
 * Volunteering *
 ****************/
section#volunteer {
  background: var(--main-color1);
}

/**************
 * Contact Me *
 **************/
section#contact {
  padding-top: 20px;
  background-color: var(--main-color2);
}
#contact .box a {
  color: var(--contact-font-color);
}
#contact .box a:hover {
  color: var(--contact-hover-color);
}
ul.contact {
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
}
ul.contact > li {
  margin: 0 0 20px;
}
ul.contact > li > a {
  display: block;
  font-size: 18px;
}
ul.contact > li > a i {
  margin-right: 10px;
}
.contact-icons {
  border-radius: 100%;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: var(--contact-icons-color);
}
.fa-facebook {
  background: #4f7dd4;
}
.fa-linkedin {
  background: #21a6d8;
}
.fa-github {
  background: #993366;
}
.fa-envelope {
  background: #cb2027;
}
.fa-file-text {
  background: #dc422b;
}

/********************
 * Scroll up button *
 ********************/
.scrollup {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 50px;
  right: 100px;
}

/******************
 * Grow animation *
 ******************/
.grow {
  display: inline-block;
  vertical-align: middle;
  transition-duration: 0.5s;
}
.grow:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/*********
 * Icons *
 *********/
.icon-md {
  font-size: 24px;
  height: 68px;
  width: 68px;
  line-height: 68px;
  color: #fff;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  display: inline-block;
  border-radius: 100%;
  margin-bottom: 10px;
}
.icon-color1 {
  background-color: #cc0000;
}
.icon-color2 {
  background-color: #2ecc71;
}
.icon-color3 {
  background-color: #3498db;
}
.icon-color4 {
  background-color: #8e44ad;
}
.icon-color5 {
  background-color: #1abc9c;
}
.icon-color6 {
  background-color: #2c3e50;
}
.icon-color7 {
  background-color: #74afad;
}
.icon-color8 {
  background-color: #ffe658;
}
.icon-color9 {
  background-color: #ff6600;
}