/***********
 * Imports *
 ***********/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

/*****************
 * Color Schemes *
 *****************/
body {
  --main-color1: #4484CE;
  --main-color2: #1F3C5E;
  --accent-color1: #386DA9;

  --name-color: #FFFFFF;

  --header-normal-color: #FFFFFF;
  --font-normal-color: #FFFFFF;

  --a-normal-color: #52B6EC;
  --a-hover-color: #81C9F1;

  --nav-normal-color: rgba(255, 255, 255, 0.7);
  --nav-hover-color: rgba(255, 255, 255, 0.85);
  --nav-active-color: rgba(255, 255, 255, 1);
  --nav-active-line-color: #0A9581;
  --nav-background-color: #9ACD91;

  --carousel-background-color: rgba(56, 109, 169, 0.65);
  --carousel-arrow-color: rgba(56, 109, 169, 0.65);
  --carousel-text-color: #FFFFFF;

  --project-button-normal-color: #52B6EC;
  --project-button-hover-color: #386DA9;
  --project-button-active-color: #386DA9;

  --project-item-background-color: #386DA9;
  --project-item-button-background-color: #52b6ec;
  --project-item-button-font-color: #FFFFFF;

  --modal-fade-background-color: rgba(0,0,0,0.8);;

  --contact-font-color: #FFFFFF;
  --contact-hover-color: #81C9F1;
  --contact-icons-color: #ffffff;

  --icon-color1: #CC0000;
  --icon-color2: #2ECC71;
  --icon-color3: #3498DB;
  --icon-color4: #8E44AD;
  --icon-color5: #1ABC9C;
  --icon-color6: #DFDCE3;
  --icon-color7: #74AFAD;
  --icon-color8: #FFE658;
  --icon-color9: #FF6600;

  max-width: 100%;
  overflow-x: hidden;
}

/***********
 * General *
 ***********/
h1, h2, h3, h4, h5, h6 {
  color: var(--header-normal-color);
  font-weight: 300;
}
p, small, li {
  color: var(--font-normal-color);
}
a {
  color: var(--a-normal-color);
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
a:hover,
a:focus {
  color: var(--a-hover-color);
  text-decoration: none;
  outline: none;
}
.box {
  position: relative;
}
.box h2 {
  padding: 10px 30px;
  display: inline-block;
  border-radius: 4px;
  position: relative;
  margin-bottom: 30px;
  font-size: 48px;
}
.center {
  text-align: center;
  align-items: center;
}
.gap {
  margin-bottom: 50px;
}
.big-gap {
  margin-bottom: 100px;
}
.blur {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  filter: blur(10px);
 }

/**********
 * Navbar *
 **********/
.cd-stretchy-nav {
  position: fixed;
  z-index: 999;
  top: 40px;
  right: 5%;
  pointer-events: none;
}
.cd-stretchy-nav .stretchy-nav-bg {
  /* this is the stretching navigation background */
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: var(--nav-background-color);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-transition: height 0.2s, box-shadow 0.2s;
  -moz-transition: height 0.2s, box-shadow 0.2s;
  transition: height 0.2s, box-shadow 0.2s;
}
.cd-stretchy-nav.nav-is-visible {
  pointer-events: auto;
}
.cd-stretchy-nav.nav-is-visible .stretchy-nav-bg {
  height: 100%;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
}

.cd-nav-trigger {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  /* replace text with image */
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
  pointer-events: auto;
  text-decoration: none;
}
.cd-nav-trigger span, .cd-nav-trigger span::after, .cd-nav-trigger span::before {
  /* this is the hamburger icon */
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: var(--nav-active-color);
}
.cd-nav-trigger span {
  /* middle line of the hamburger icon */
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.cd-nav-trigger span::after, .cd-nav-trigger span::before {
  /* top and bottom lines of the hamburger icon */
  content: '';
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
}
.cd-nav-trigger span::before {
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  -o-transform: translateY(-6px);
  transform: translateY(-6px);
}
.cd-nav-trigger span::after {
  -webkit-transform: translateY(6px);
  -moz-transform: translateY(6px);
  -ms-transform: translateY(6px);
  -o-transform: translateY(6px);
  transform: translateY(6px);
}
.no-touch .cd-nav-trigger:hover ~ .stretchy-nav-bg {
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
}
.nav-is-visible .cd-nav-trigger span {
  background-color: transparent;
}
.nav-is-visible .cd-nav-trigger span::before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.nav-is-visible .cd-nav-trigger span::after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cd-stretchy-nav ul {
  position: relative;
  z-index: 2;
  padding: 60px 0 0;
  visibility: hidden;
  -webkit-transition: visibility 0.3s;
  -moz-transition: visibility 0.3s;
  transition: visibility 0.3s;
  text-align: right;
  list-style: none;
}
.cd-stretchy-nav ul a {
  position: relative;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 calc(1em + 60px) 0 1em;
  color: var(--nav-normal-color);
  font-size: 1.4rem;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  transition: color 0.2s;
}
.cd-stretchy-nav ul a::after {
  /* navigation item icons */
  font-family: FontAwesome;
  content: '';
  position: absolute;
  width: 16px;
  right: 22px;
  top: 50%;
  -webkit-transform: translateY(-50%) scale(0);
  -moz-transform: translateY(-50%) scale(0);
  -ms-transform: translateY(-50%) scale(0);
  -o-transform: translateY(-50%) scale(0);
  transform: translateY(-50%) scale(0);
  opacity: .6;
}
.cd-stretchy-nav ul a::before {
  /* line visible next to the active navigation item */
  content: '';
  position: absolute;
  width: 3px;
  height: 16px;
  top: 50%;
  right: 60px;
  -webkit-transform: translateX(3px) translateY(-50%) scaleY(0);
  -moz-transform: translateX(3px) translateY(-50%) scaleY(0);
  -ms-transform: translateX(3px) translateY(-50%) scaleY(0);
  -o-transform: translateX(3px) translateY(-50%) scaleY(0);
  transform: translateX(3px) translateY(-50%) scaleY(0);
  background-color: var(--nav-active-line-color);
}
.cd-stretchy-nav ul li:first-of-type a::after {
  content: "\f015";
}
.cd-stretchy-nav ul li:nth-of-type(2) a::after {
  content: "\f007";
}
.cd-stretchy-nav ul li:nth-of-type(3) a::after {
  content: "\f1ad";
}
.cd-stretchy-nav ul li:nth-of-type(4) a::after {
  content: "\f0c3";
}
.cd-stretchy-nav ul li:nth-of-type(5) a::after {
  content: "\f19d";
}
.cd-stretchy-nav ul li:nth-of-type(6) a::after {
  content: "\f109";
}
.cd-stretchy-nav ul li:nth-of-type(7) a::after {
  content: "\f091";
}
.cd-stretchy-nav ul li:nth-of-type(8) a::after {
  content: "\f0c0";
}
.cd-stretchy-nav ul li:nth-of-type(9) a::after {
  content: "\f2b5";
}
.cd-stretchy-nav ul li:nth-of-type(10) a::after {
  content: "\f086";
}
.cd-stretchy-nav ul span {
  /* navigation item labels */
  display: block;
  opacity: 0;
  -webkit-transform: translateX(-25px);
  -moz-transform: translateX(-25px);
  -ms-transform: translateX(-25px);
  -o-transform: translateX(-25px);
  transform: translateX(-25px);
}

.cd-stretchy-nav.nav-is-visible ul {
  visibility: visible;
}
.cd-stretchy-nav.nav-is-visible ul a::after {
  /* navigation item icons */
  -webkit-transform: translateY(-50%) scale(1);
  -moz-transform: translateY(-50%) scale(1);
  -ms-transform: translateY(-50%) scale(1);
  -o-transform: translateY(-50%) scale(1);
  transform: translateY(-50%) scale(1);
  -webkit-animation: scaleIn 0.15s backwards;
  -moz-animation: scaleIn 0.15s backwards;
  animation: scaleIn 0.15s backwards;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.cd-stretchy-nav.nav-is-visible ul a.active {
  color: var(--nav-active-color);
}
.cd-stretchy-nav.nav-is-visible ul a.active::after {
  opacity: 1;
}
.cd-stretchy-nav.nav-is-visible ul a.active::before {
  -webkit-transform: translateX(3px) translateY(-50%) scaleY(1);
  -moz-transform: translateX(3px) translateY(-50%) scaleY(1);
  -ms-transform: translateX(3px) translateY(-50%) scaleY(1);
  -o-transform: translateX(3px) translateY(-50%) scaleY(1);
  transform: translateX(3px) translateY(-50%) scaleY(1);
  -webkit-transition: -webkit-transform 0.15s 0.3s;
  -moz-transition: -moz-transform 0.15s 0.3s;
  transition: transform 0.15s 0.3s;
}
.cd-stretchy-nav.nav-is-visible ul span {
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-animation: slideIn 0.15s backwards;
  -moz-animation: slideIn 0.15s backwards;
  animation: slideIn 0.15s backwards;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
}
.no-touch .cd-stretchy-nav.nav-is-visible ul a:hover {
  color: var(--nav-hover-color);
}
.no-touch .cd-stretchy-nav.nav-is-visible ul a:hover::after {
  opacity: 1;
}
.no-touch .cd-stretchy-nav.nav-is-visible ul a:hover span {
  -webkit-transform: translateX(-5px);
  -moz-transform: translateX(-5px);
  -ms-transform: translateX(-5px);
  -o-transform: translateX(-5px);
  transform: translateX(-5px);
}
.cd-stretchy-nav.nav-is-visible ul li:first-of-type a::after,
.cd-stretchy-nav.nav-is-visible ul li:first-of-type span {
  -webkit-animation-delay: 0.025s;
  -moz-animation-delay: 0.025s;
  animation-delay: 0.025s;
}
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(2) a::after,
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(2) span {
  -webkit-animation-delay: 0.05s;
  -moz-animation-delay: 0.05s;
  animation-delay: 0.05s;
}
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(3) a::after,
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(3) span {
  -webkit-animation-delay: 0.075s;
  -moz-animation-delay: 0.075s;
  animation-delay: 0.075s;
}
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(4) a::after,
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(4) span {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(5) a::after,
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(5) span {
  -webkit-animation-delay: 0.125s;
  -moz-animation-delay: 0.125s;
  animation-delay: 0.125s;
}
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(6) a::after,
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(6) span {
  -webkit-animation-delay: 0.15s;
  -moz-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(7) a::after,
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(7) span {
  -webkit-animation-delay: 0.175s;
  -moz-animation-delay: 0.175s;
  animation-delay: 0.175s;
}
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(8) a::after,
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(8) span {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(9) a::after,
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(9) span {
  -webkit-animation-delay: 0.225s;
  -moz-animation-delay: 0.225s;
  animation-delay: 0.225s;
}
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(10) a::after,
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(10) span {
  -webkit-animation-delay: 0.25s;
  -moz-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

/* Keyframes */
@-webkit-keyframes scaleIn {
  from {
    -webkit-transform: translateY(-50%) scale(0);
  }
  to {
    -webkit-transform: translateY(-50%) scale(1);
  }
}
@-moz-keyframes scaleIn {
  from {
    -moz-transform: translateY(-50%) scale(0);
  }
  to {
    -moz-transform: translateY(-50%) scale(1);
  }
}
@keyframes scaleIn {
  from {
    -webkit-transform: translateY(-50%) scale(0);
    -moz-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    -o-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
  }
  to {
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
  }
}
@-webkit-keyframes slideIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(-25px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes slideIn {
  from {
    opacity: 0;
    -moz-transform: translateX(-25px);
  }
  to {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@keyframes slideIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(-25px);
    -moz-transform: translateX(-25px);
    -ms-transform: translateX(-25px);
    -o-transform: translateX(-25px);
    transform: translateX(-25px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

/********
 * Name *
 ********/
.name-animation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.letter:not(:first-child) {
  margin-left: -3%;
}
.letter-t1 {
  margin-right: -2%;
}
.letter-n2 {
  margin-right: 5%;
}
.letter-a3 {
  margin-right: -1%;
}
.letter-s1 {
  margin-right: -4%;
}
.letter-s2 {
  margin-right: -4%;
}
.dot {
  position: absolute;
  width: 3%;
  height: 3%;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.dot-e {
  bottom: 40%;
  right: 0;
}
@media screen and (max-width: 768px) {
  #name {
    background-color: var(--main-color1);
    padding: 12.5% 0;
  }
  .letters {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    height: 50%;
  }
  .letter {
    position: relative;
    width: 50%;
    height: 50%;
  }
}
@media screen and (min-width: 768px) {
  #name {
    background-color: var(--main-color1);
    padding: 5% 0;
  }
  .letters {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 75%;
    height: 25%;
  }
  .letter {
    position: relative;
    width: 25%;
    height: 25%;
  }
}

/********************
 * Section Dividers *
 ********************/
#sectionDivider1 {
  background-color: var(--main-color2);
  display: block;
}
#sectionDivider1 #trianglePath1 {
  fill: var(--main-color1);
  stroke: var(--main-color1);
}

#sectionDivider1 #trianglePath2 {
  fill: var(--accent-color1);
  stroke: var(--accent-color1);
}
#sectionDivider2 {
  background-color: var(--main-color1);
  display: block;
}
#sectionDivider2 #trianglePath1 {
  fill: var(--main-color2);
  stroke: var(--main-color2);
}

#sectionDivider2 #trianglePath2 {
  fill: var(--accent-color1);
  stroke: var(--accent-color1);
}

/************
 * About Me *
 ************/
.carousel {
  margin-bottom: 15px;
}
.carousel-content {
  text-align: center;
  align-content: center;
  align-self: center;
}
.carousel-picture {
  text-align: center;
  align-content: center;
  align-self: center;
}
.carousel-picture img {
  border-radius: 50px;
  max-height: 450px;
  max-width: 100%;
  margin: 0 auto;
}
.carousel-caption {
  background-color: var(--carousel-background-color);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 25px 10px 15px 25px;
  text-align: left;
}
.carousel-caption > p {
  color: var(--carousel-text-color);
}
.carousel-nav {
  width: 60%;
  margin: 0 auto;
}
.carousel-nav-pic {
  line-height: 200px;
}
.carousel-nav img {
  width: 150px;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline;
}

section#about {
  background: var(--main-color2);
}
section#work {
  background: var(--main-color1);
}
section#research {
  background: var(--main-color2);
}
section#education {
  background: var(--main-color1);
}

/************
 * Projects *
 ************/
section#projects {
  background: var(--main-color2);
}
.btn {
  font-weight: 300;
  margin-bottom: 10px;
  border: 0;
}
.btn.btn-primary {
  background-color: var(--project-button-normal-color);
}
.btn.btn-primary:hover {
  background-color: var(--project-button-hover-color);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.btn-primary.active {
  background-color: var(--project-button-active-color);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.project-filter {
  list-style: none;
  padding: 0;
  margin: 0;
}
.project-filter {
  margin-bottom: 10px;
  text-align: center;
}
.project-filter li {
  display: inline-block;
}
.project-items {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}
.project-items li {
  display: inline-block;
  margin: 0;
  position: relative;
  max-width: 370px;
  padding-bottom: 5px;
}
.project-items figure {
  margin: 0;
  position: relative;
}
.project-items figure img {
  max-width: 100%;
  max-height: 250px;
  display: block;
  position: relative;
  z-index: 10;
  transition: transform 0.4s;
}
.project-items figcaption {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--project-item-background-color);
  height: 100%;
  width: 100%;
}
.project-items figcaption h5 {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  margin: 0 auto;
  margin-right: 10px;
  margin-left: 10px;
}
.project-items h5 {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 15px;
}
.project-items h5 a {
  text-align: center;
  padding: 5px 5px;
  border-radius: 2px;
  background: var(--project-item-button-background-color);
  color: var(--project-item-button-font-color);
  cursor:pointer;
}
figure:hover img,
figure.cs-hover img {
  transform: translateY(-12.5%) scale(0.75);
}
.project-items li p {
  text-align: center;
  font-size: 20px;
}

/***Modal***/
.md-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 630px;
  min-width: 320px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.md-show {
  visibility: visible;
}
.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: var(--modal-fade-background-color);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.md-show ~ .md-overlay {
  opacity: 1;
  visibility: visible;
}
.md-content {
  color: #fff;
  background: var(--main-color1);
  position: relative;
  border-radius: 3px;
  margin: 0 auto;
}

.md-content h3 {
  margin: 0;
  padding: 0.4em;
  text-align: center;
  font-size: 2.4em;
  font-weight: 300;
  opacity: 0.8;
  background: rgba(0,0,0,0.1);
  border-radius: 3px 3px 0 0;
}

.md-content > div {
  padding: 15px 40px 30px;
  margin: 0;
  font-weight: 300;
  font-size: 1.15em;
}

.md-content > div p {
  margin: 0;
  padding: 10px 0;
}

.md-content > div ul {
  margin: 0;
  padding: 0 0 30px 20px;
}

.md-content > div ul li {
  padding: 5px 0;
}

.md-content button {
  display: block;
  margin: 0 auto;
  font-size: 0.8em;
}
.md-effect .md-content {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.md-show.md-effect .md-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.md-content a {
  text-align: center;
  padding: 5px 5px;
  border-radius: 2px;
  background: var(--project-item-button-background-color);
  color: var(--project-item-button-font-color);
  cursor:pointer;
}

/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

/**********
 * Awards *
 **********/
section#awards {
  background: var(--main-color1);
}

/**************
 * Activities *
 **************/
section#activities {
  background: var(--main-color2);
}

/****************
 * Volunteering *
 ****************/
section#volunteer {
  background: var(--main-color1);
}

/**************
 * Contact Me *
 **************/
section#contact {
  padding-top: 20px;
  background-color: var(--main-color2);
}
#contact .box a {
  color: var(--contact-font-color);
}
#contact .box a:hover,
#contact .box a:focus {
  color: var(--contact-hover-color);
}
ul.contact {
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
}
ul.contact > li {
  margin: 0 0 20px;
}
ul.contact > li > a {
  display: block;
  font-size: 18px;
}
ul.contact > li > a i {
  margin-right: 10px;
}
.contact-icons {
  border-radius: 100%;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: var(--contact-icons-color);
}
.fa-facebook {
  background: #4f7dd4;
}
.fa-linkedin {
  background: #21a6d8;
}
.fa-github {
  background: #993366;
}
.fa-envelope {
  background: #cb2027;
}
.fa-file-text {
  background: #dc422b;
}

/******************
 * Grow animation *
 ******************/
.grow {
  display: inline-block;
  vertical-align: middle;
  transition-duration: 0.5s;
}
.grow:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/*********
 * Icons *
 *********/
.icon-md {
  font-size: 24px;
  height: 68px;
  width: 68px;
  line-height: 68px;
  color: #fff;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  display: inline-block;
  border-radius: 100%;
  margin-bottom: 10px;
}
.icon-color1 {
  background-color: var(--icon-color1);
}
.icon-color2 {
  background-color: var(--icon-color2);
}
.icon-color3 {
  background-color: var(--icon-color3);
}
.icon-color4 {
  background-color: var(--icon-color4);
}
.icon-color5 {
  background-color: var(--icon-color5);
}
.icon-color6 {
  background-color: var(--icon-color6);
}
.icon-color7 {
  background-color: var(--icon-color7);
}
.icon-color8 {
  background-color: var(--icon-color8);
}
.icon-color9 {
  background-color: var(--icon-color9);
}