body {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
}
body.ready {
  opacity: 1;
}
.logo-animation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: -40px;
}
.letters {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1082px;
  height: 162px;
}
.letter {
  position: relative;
  width: 162px;
  height: 162px;
}
.letter:not(:first-child) {
  margin-left: -42px;
}
.letter-t1 {
  margin-right: -2%;
}
.letter-n2 {
  margin-right: 4%;
}
.letter-a3 {
  margin-right: -1%;
}
.letter-s1 {
  margin-right: -4%;
}
.dot {
  position: absolute;
  width: 42px;
  height: 42px;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.dot-e {
  bottom: 0;
  right: 0;
}